*{
    margin:0;
    padding: 0;
    font-family: myfirstfont;
    
}

header{
    background-color: #0020F4;  
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 280px;
    column-gap: 200px;
}



li{
    list-style-type: none;
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

a{
    color: white;
    text-decoration: none;
}

.contact{
    background-color: #ffffff;
    border-radius: 45px;
    display: inline-block;
    color: black;
    padding-top: 18px;
    padding-left: 43px;
    padding-bottom: 18px;
    padding-right: 43px;
}

nav{
  padding-top: 5px;
  text-align: center;
}

 div{
    margin-left: 30px;
}

.rectangle1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  margin-top: -160px;
  size: 1920px;
}

.main-text{
  margin-left: 158px;
}

.images{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

p{
    text-align: center;
}

.button {
    background-color: #4CAF50; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    background-color: #0020F4;
    border-radius: 25px;
    border: none;
    display: flex;
    margin: auto;
    margin-bottom: 180px;
    margin-top: 60px;
  }
  

.p1,.p2,.p3{
    margin-top: 15px;
    margin-right: 400px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #0020F4;
}

.map{
    position: relative;
    width: 35%;
    height: 350px;
    background-color: #CCC;
}

.map-container{
    max-width: 100%;
    max-height: 100%;
    
}

.image1{
    background-color: white;
    border-radius: 50px;
    color:#ffffff;
    display: flex;  
    max-width: 20px;
    padding: 20px 20px 20px 20px;
}

.image2{
    background-color: white;
    border-radius: 50px;
    color:#ffffff;
    display: flex;  
    padding: 20px 20px 20px 20px;
    max-width: 25px;
    height: 25px;
}

.p4,.p5{
    padding-left: 25px
}

.image-p5{
    height:25px ;
    width: 25px;
    padding-bottom: -55px;
}

@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Helvetica\ Neue\ Medium\ Extended.ttf);
    font-weight: bold;
  }
    
